*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.bak
backup_*/
backup_all/
*.apk
icon_source.webp
qitong.jks
.backup
.operit/
app/build/
.gradle/
.kotlin/
